
a {
    color: #094244;
    font-family: 'Merriweather', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.about-me {
    margin: auto;
    width: 30%;
}

body {
    font-family: 'Merriweather', sans-serif;
    margin: 0px;
    text-align: center;
}

.btn {
  background: #34d997;
  background-image: -webkit-linear-gradient(top, #34d997, #2980b9);
  background-image: -moz-linear-gradient(top, #34d997, #2980b9);
  background-image: -ms-linear-gradient(top, #34d997, #2980b9);
  background-image: -o-linear-gradient(top, #34d997, #2980b9);
  background-image: linear-gradient(to bottom, #34d997, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75em;
    padding: 20px 0px;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 0px;
}

h2 {
    color: #B3FFAE;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #002ba3;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    margin: 50px auto;
    width: 5%;
}

.top-cloud {
    position: absolute;
    right: 20%;
    top: 10%;
}

.big {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
}

.bottom-container {
    background-color: #A3C7D6;
    padding: 20px;
}

.middle-container {
    background-color: #8D9EFF;
    padding-bottom: 30px;
    padding-top: 20px;
}

.top-cloud {
    position: absolute;
    right: 20%;
    top: 10%;
}

.top-container {
    background-color: #3F3B6C;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 100px;
    position: relative;
}

.big {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
}


p {
    line-height: 2;
    color: white;
}

.profile-pic {
    border-radius: 50%;
    height: 100px;
    margin-top: 20px;
}

#python-pic {
    float: right;
}

.skill-row {
    margin: 100px auto;
    text-align: left;
    width: 50%;
}

.skill-pic {
    float: left;
    margin-right: 30px;
    height: 150px;
}